<ion-view title="Account">
  <ion-content class="has-header">

    <div class="list list-inset">
      <div class="item item-divider">
        Profile
      </div>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="text" placeholder="name" ng-model="profile.name" />
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Email</span>
        <input disabled style="background-color:white;" type="text" placeholder="email" ng-model="profile.email" />
      </label>
      <div class="item">
        <button class="button button-item" ng-click="logout()">Log Out</button>
      </div>
    </div>

    <!-- <div class="list list-inset">
            <div class="item item-divider item-button-right">
                Change Password
                <button class="button button-outline button-light" ng-click="showChangePassword = !showChangePassword">
                    <i class="icon" ng-class="showChangePassword ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
                </button>
            </div>

            <label class="item item-input item-stacked-label" ng-show="showChangePassword">
                <span class="input-label">Old Password</span>
                <input type="password" ng-keypress="clear()" ng-model="oldpass" />
            </label>
            <label class="item item-input item-stacked-label" ng-show="showChangePassword">
                <span class="input-label">New Password</span>
                <input type="password" ng-keypress="clear()" ng-model="newpass" />
            </label>
            <label class="item item-input item-stacked-label" ng-show="showChangePassword">
                <span class="input-label">Confirm Password</span>
                <input type="password" ng-keypress="clear()" ng-model="confirm" />
            </label>

            <button class="item" ng-click="changePassword(oldpass, newpass, confirm)" ng-show="showChangePassword">change password</button>
        </div>

        <p class="error" ng-show="err">{{err}}</p>
        <p class="good" ng-show="msg">{{msg}}</p> -->

    <!-- <div class="list list-inset">
            <div class="item item-divider item-button-right">
                Change Email
                <button class="button button-outline button-light" ng-click="showChangeEmail = !showChangeEmail">
                    <i class="icon" ng-class="showChangeEmail ? 'ion-arrow-up-b' : 'ion-arrow-down-b'"></i>
                </button>
            </div>

            <label class="item item-input item-stacked-label" ng-show="showChangeEmail">
                <span class="input-label">New Email</span>
                <input type="email" ng-keypress="clear()" ng-model="newEmail" />
            </label>
            <label class="item item-input item-stacked-label" ng-show="showChangeEmail">
                <span class="input-label">Password</span>
                <input type="password" ng-keypress="clear()" ng-model="pass" />
            </label>

            <button class="item" ng-click="changeEmail(pass, newEmail)" ng-show="showChangeEmail">update email</button>
        </div>

        <p class="error" ng-show="emailerr">{{emailerr}}</p>
        <p class="good" ng-show="emailmsg">{{emailmsg}}</p> -->
  </ion-content>
</ion-view>
